<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="~/Content/js/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="~/Content/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                  <a href="/wipe-database" class="brand-logo center">Logo</a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/books">Books</a></li>
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/search">Search</a></li>
                  </ul>
                </div>
              </nav>
        </header>

        @RenderBody()


        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="~/Content/js/jquery.flexdatalist.min.js"></script>
        <script src="~/Content/js/scripts.js"></script>
    </body>
</html>
