@{
    Layout = "Shared/_Layout.cshtml";
}

<form action="wipe-database" method="post">
    <label>Wiping your production database?!</label>
    <button type="submit" class="btn">Of course</button>
</form>
